

.login{
  height: 100vh;
}

.login-left {
  max-width: 500px;
    width: 100%;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.country {
  width: 100%;
  border: 1px solid black;
}
.country img {
  max-width: 80px;
  width: 100%;
}
.header ul li a.active {
  border-bottom: 2px solid black;
  padding-bottom: 3px;
}
.footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.social-icons a {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.social-icons a i {
  color: black;
}
.menu-list {
  display: flex;
  gap: 20px;
}
.menu-btn {
  display: none;
}
.lines {
  position: relative;
  width: 100%;
    margin: 0 auto;
    text-align: center;
}
.lines span {
  background-color: white;
  z-index: 99;
}
.lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgb(176, 176, 176);
  z-index: -1;
}

@media (max-width: 650px) {
  .login-right {
    display: none;
  }
  .login-left {
    text-align: center;
  }
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu-list {
    display: none;
  }
  .menu-btn {
    display: block;
    font-size: 25px;
    padding: 0;
  }
}